<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhang.webview">

    <application>
        <activity android:name=".WebViewActivity" />
        <activity android:name=".WebviewSettingActivity" />
        <activity android:name=".WebViewDiaoJavaActivity" />
        <activity android:name=".WebviewLoudongActivity" />
        <activity android:name=".WebviewLoudongFixActivity" />
        <activity android:name=".WebviewDiaoJsActivity" />
        <activity android:name=".WebviewClientActivity" />
        <activity android:name=".WebChromeClientActivity"></activity>
    </application>

</manifest>